@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', 'Lucida Sans', Verdana, sans-serif;
}

.text-center { text-align: center; }

.d-flex { display: flex; }
.d-flex.justify-content-center { justify-content: center; }
.d-flex.align-items-center { align-items: center; }